@font-face {
   font-family: 'Noto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/antoinedespres-bedward/Documents/GitHub/ux-support-centre/fonts/Noto Serif/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Serif';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/antoinedespres-bedward/Documents/GitHub/ux-support-centre/fonts/Noto Serif/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/antoinedespres-bedward/Documents/GitHub/ux-support-centre/fonts/Noto Serif/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/antoinedespres-bedward/Documents/GitHub/ux-support-centre/fonts/Noto Serif/700italic.ttf') format('truetype');
}
